<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="student_management.Properties.Settings.Student_ManagementConnectionString"
            connectionString="Data Source=LAPTOP-DMO5JL19\THAITRINH;Initial Catalog=Student_Management;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>